[submodule "lua-php-library"]
	path = lua-php-library
	url = git@github.com:delphian/lua-php-library.git
[submodule "lua-rift-library"]
	path = lua-rift-library
	url = git@github.com:delphian/lua-rift-library.git
